.DS_Store
.vscode

*.csv
*.tsv
*.swp
*.xml
*.pyc
*.numbers

DefinitelyTyped/*/*.js

util/source.*
util/*.json
util/*.html
util/configure.py

www/app_config.php

www/sample_01_auth.json

www/sample_01_circle_info.json
